body{
    background-color: whitesmoke;
}

.aclassselector{
    color: blue;
}

/*Lesson 1: 3 basic selectors*/
#anidselector{
    color: red;
}

.title{
    color: yellow;
}

#contact-us{
    color: green;
}

/* Lesson 2: Pseudo Selectors */
h1:hover{
    color: thistle;
}

/* li:nth-child(2){
    color:wheat;
} */

td:only-child{
    color: purple;
}
/* 
#youtube-link:link{
    color: blue;
} 

#youtube-link:visited{
    color: red;
} */


/* Lesson 3: Advance selector */
/* every a tag that follows h2 */
h2 + a {
    color: red;
}
/* general sibling selector: any button after textarea sharing the same parent */
textarea ~ button{
    color: yellow;
}
/* Child selector : every li inside ul*/
ul > li {
    color:tomato;
}
/* Decendent selelctor: if li inside the ul */
/* ul li {
    color: green;
} */

/* Lesson 4: Attribute selector */
/* the formate => tag_name[attr=value]{

} */
/* We want select every attribute that is class and the class itself is subtitle */
h2[class=subtitle]{
    color: lightcoral;
}

/* select all images with src starting value of ../images/ */
img[src^="../images/"]{
    border: 10px solid black;

}
/* the $= mean select anyting that has ending value of */
/* google search Attribute selector if I forgot */

/* white space attribute selector */
/* let say we have subtitle and article-subtitle classes */
.subtitle{
    color:violet;
}
h2[class~=article-subtitle]{
    background-color: green;
}